=render partial: "public/shared/event_information_header", locals: {event: @event, organizer: @organizer}

%div.form_container
  %div
    %div

  %div
    %div
      %div
        %hr.navy-blue
        - if @talks.empty?
          .button.radius.right=link_to "Submit Talk", new_public_event_talk_path(@event)
          %div No Talks Submitted! #{link_to "Be the first!", new_public_event_talk_path(@event)}
        - else
          %h5
            .button.radius.right=link_to "Submit Talk", new_public_event_talk_path(@event)
            %em.lightning Check out these awesome submitted talks!
          %ol.talks
            -@talks.each do |talk|
              %li.talk-information
                .topic #{talk.presenter_name} - #{talk.topic}
                .details
                  .description=simple_format talk.description
          %hr.navy-blue
      .submission_guidelines{style: "clear:both"}
        %header Submission Guidelines
        = simple_format auto_link(@event.event_talk.talk_submission_guidelines, html: {target: "_blank"}), wrapper_tag: "div"
      .button.radius.right=link_to "Submit Talk", new_public_event_talk_path(@event)


