%div.row.talk-title
  %div.small-10.push-1
    %h1 #{@event.title}

%div.row
  %div.small-10.push-1
    .event_details
      .name Organizer: #{@organizer.username}

%div.row
  %div.small-10.push-1.talk-list
    .button.radius=link_to "Submit Talk", new_public_event_talk_path(@event)
    %div Event Talks:
    %ul.talks
      -@talks.each do |talk|
        %li.talk-information
          .topic=talk.topic
          .details
            .description=talk.description
