%div.row.talk-title
  %div.row
    %div.small-10.small-push-1
      .event-logo
        =image_tag(event.logo_url)
      %h3 #{event.title}
      .event_details
        .description=simple_format auto_link(event.description, html: {target: "_blank"})
        - if event.date?
          .date
            %span When:
            #{event.date.strftime("%B %d, %Y")}
            %span at
            #{event.start_time}
        .name
          %span Organizer:
          =display_organizer_name_with_email_link organizer

