%div.display_container
  %div
    %div
      %h3 Team LightningVote

  %div
    %div
      %div
        %ul.team
          %li Corey Haines
          %li Aaron Kalin
          %li Ryan Milstead
          %li Shreya Patel
          %li Gale VanRossem