%div.form_container
  %div
    %div
      %h1 Welcome to LightningVote

  %div
    %div
      %div
        %p LightningVote is a management system designed to streamline the process of signing up for, managing, and administering lightning talks.
        %p Initially, LightningVote should offer lightning talk organizers and presenters a uniform and pleasant process to facilitate these talks. One of the core ideas we plan to bring to the system is the ability for attendees to vote on which topics are most interesting to them. Our ultimate goal is to create a more interactive and positive experience for all of those attending an event.
        %div
          = link_to "Login", "/auth/identity", :class => "button radius right"
          = link_to "Sign up", "/auth/identity/register", :class => "button radius right main-button-fix"


