%div.display_container
  %div
    %div
      %h1 Welcome to LightningVote

  %div
    %div
      %div
        %p LightningVote is a management system designed to streamline the process of signing up for, managing, and administering lightning talks.
        %p LightningVote will offer lightning talk organizers and presenters a uniform and pleasant process to facilitate these talks. Our ultimate goal is to create a more interactive and positive experience for all of those attending an event.
        %p This initial release contains basic, limited functionality, but more is on the way.
        %div
          = link_to "Login", "/auth/identity", :class => "button radius right"
          = link_to "Sign up", "/auth/identity/register", :class => "button radius right main-button-fix"


