- if flash[:notice]
  .notice=flash[:notice]

%div.display_container
  %div
    %div
      %h1 Edit your event

  %div
    %div
      %div.event_form
        = render partial: "event_form", locals: {event: @event, event_talk: @event.event_talk, button_text: "Update"}
