- if flash[:notice]
  .notice=flash[:notice]

%div.display_container
  %div
    %div
      %h1 Create a new event

  %div
    %div
      %div.event_form
        = render partial: "event_form", locals: {event: @event, event_talk: EventTalk.new, button_text: "Create"}

