%div.row.talk-title
  %div.row
    %div.small-10.small-push-1
      %h2 #{@user.name}
      .link.edit=link_to "Edit My Information", edit_current_user_path

%div.form_container
  %div
    %div

  %div
    %div
      %div  
        %h4
          %em.lightning My Events

        %hr.navy-blue

        %ul.event-list
          -@events.each do |event|
            %li
              =event.title
              .link=link_to "Edit", edit_organizer_event_path(event)
              .link=link_to "View", event_path(event)

        .button.radius.right=link_to "Create an event", new_organizer_event_path
